{% extends "admin_base.html" %}
  {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="page-wrapper compact-wrapper dark-sidebar" id="pageWrapper">
    <div class="page-body-wrapper">
      <div class="page-body">
        <div class="title-header"> <h5>List of Customers with Queries</h5> </div>
        <div class="card">
          <div class="row " >
            <div class="col-sm-12">
              <div class="table-responsive table-desi">
                <table class="table table-hover table-striped table-bordered text-center">
                  <thead class="table-dark">
                    <tr>
                      <th>First Name</th>
                      <th>Last Name</th>
                      <th>Email</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for customer in customers %}
                      <tr>
                        <td>{{ customer.customer.first_name }} </td>
                        <td>{{ customer.customer.last_name }}</td>
                        <td>{{ customer.customer.email }}</td>
                        <td>
                          <a href="{% url 'customer_queries' id=customer.id %}">View Queries</a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
</body>
</html>
{% endblock %}