<!-- header start -->
<header class="header-style-2" id="home">
  <div class="main-header navbar-searchbar">
    <div class="container-fluid-lg">
      <div class="row">
        <div class="col-lg-12">
          <div class="main-menu">
            <div class="menu-left">
              <div class="brand-logo  vr-logo">
                
                    <a href="https://vishwaratna.in/">
                  <img
                    src="/static/assets1/images/logos/vr_logo.png"
                    class="img-fluid blur-up lazyload"
                    alt="logo"
                  />
                </a>
            </div>
              
            </div>
            <nav>
              <div class="main-navbar" >
                <div id="mainnav">
                  <div class="toggle-nav">
                    <i class="fa fa-bars sidebar-bar"></i>
                  </div>
                  <ul class="nav-menu">
                    <li class="back-btn d-xl-none">
                      <div class="close-btn">
                        Menu
                        <span class="mobile-back"
                          ><i class="fa fa-angle-left"></i>
                        </span>
                      </div>
                    </li>

                    <!-- <li class="dropdown  ">
                      <a
                        class=" "
                        ><div  class="gradient-title "><a href="/tshirt/">SHOP T-SHIRTS</a></div></a
                      >
                      <ul class="nav-submenu menu-content">
                        <li>
                            <a style="text-transform: uppercase;" href="/quote_tshirts/">QUOTE T-SHIRTS</a>
                        </li>

                        <li>
                          <a style="text-transform: uppercase;" href="/Signature_tshirts/">SIGNATURE T-SHIRTS</a>
                      </li>
                        <li>
                            <a style="text-transform: uppercase;" href="/graphictees/">GRAPHIC T-SHIRTS</a>
                        </li>


                        <li>
                          <a style="text-transform: uppercase;" href="/minimalisttees/">MINIMATISTIC T-SHIRTS</a>
                      </li>
                      <li>
                        <a style="text-transform: uppercase;" href="/inspirationaltees/">INSPIRATIONAL T-SHIRTS</a>
                    </li>
                        
                    </ul>
                    </li> -->

                    <li class="dropdown  ">


                      <a
                      href="javascript:void(0)"
                      class="nav-link menu-title"
                      ><div class="gradient-title">CLOTHING</div></a
                    >
                      <ul class="nav-submenu menu-content">
                        <li>
                          <a style="text-transform: uppercase; font-size:20px" href="/tshirt/"><i class="uil uil-arrow-up-right" style="color: red;"></i> SHOP T-SHIRTS</a>
                      </li>

                      <li>
                          <a style="text-transform: uppercase; margin-left:10px;" href="/graphictees/"><i class="uil uil-arrow-up-right" style="color: red;"></i> GRAPHIC T-SHIRTS</a>
                      </li>

                       <li>
                      <a style="text-transform: uppercase; margin-left:10px;" href="/inspirationaltees/"><i class="uil uil-arrow-up-right" style="color: red;"></i> INSPIRATIONAL T-SHIRTS</a>
                  </li>
                   <li>
                        <a style="text-transform: uppercase; margin-left:10px;" href="/minimalisttees/"><i class="uil uil-arrow-up-right" style="color: red;"></i> MINIMATISTIC T-SHIRTS</a>
                    </li>

                        <li>
                          <a style="text-transform: uppercase; margin-left:10px" href="/quote_tshirts/"><i class="uil uil-arrow-up-right" style="color: red;"></i> QUOTE T-SHIRTS</a>
                      </li>

                      <li>
                        <a style="text-transform: uppercase; margin-left:10px;" href="/Signature_tshirts/"><i class="uil uil-arrow-up-right" style="color: red;"></i> SIGNATURE T-SHIRTS</a>
                    </li>
                      


                     
                   



                        
                    </ul>
                    </li>




                    <li class="dropdown  ">


                      <a
                      href="javascript:void(0)"
                      class="nav-link menu-title"
                      ><div class="gradient-title">SHOP BY</div></a>
                      <ul class="nav-submenu menu-content">
                        <li>
                            <a style="text-transform: uppercase;" href="{% url 'tshirt_male' %}?gender=male"><i class="uil uil-arrow-up-right" style="color: red;"></i> MEN</a>
                        </li>

                        <li>
                          <a style="text-transform: uppercase;" href="{% url 'tshirt_female' %}?gender=female"><i class="uil uil-arrow-up-right" style="color: red;"></i> WOMEN</a>
                      </li>

                        
                    </ul>
                    </li>
                    <!-- <li class="dropdown ">
                      <a
                        href="javascript:void(0)"
                        class="nav-link menu-title"
                        ><div class="gradient-title">CLOTHINGS</div></a
                      >
                      <ul class="nav-submenu menu-content">
                        <li>
                            <a style="text-transform: uppercase;" href="/tshirt/">T-shirts</a>
                        </li>

                        <li>
                          <a style="text-transform: uppercase;" href="/shirts/">Shirts</a>
                      </li>
                        <li>
                            <a style="text-transform: uppercase;" href="/kurtas/">Kurtas</a>
                        </li>


                        <li>
                          <a style="text-transform: uppercase;" href="/hoodies/">Hoodies</a>
                      </li>
                        
                    </ul>
                    </li> -->

                    <li class="dropdown ">
                      <a 
                        href="javascript:void(0)"
                        class="nav-link menu-title"
                        ><div class="gradient-title">COLLECTIONS</div></a
                      >
                      <ul class="nav-submenu menu-content " >
                        <li>
                            <a style="text-transform: uppercase; font-weight:400; font-size:15px" href="/Bhagat_Singh/"><i class="uil uil-arrow-up-right" style="color: red;"></i> Bhagat Singh Collection </a>
                        </li>

                        <li>
                          <a style="text-transform: uppercase; font-weight:400; font-size:15px" href="/BR_ambedkar_quotes/"><i class="uil uil-arrow-up-right" style="color: red;"></i> Bhimrao Ramji Ambedkar Collection </a>
                        </li>

                        <li>
                        <a style="text-transform: uppercase; font-weight:400; font-size:15px" href="/Budha_quotes/"><i class="uil uil-arrow-up-right" style="color: red;"></i> Buddha Collection </a>
                        </li>

                        <li >
                            <a style="text-transform: uppercase; font-weight:400; font-size:15px; width:100%" href="/Chrapati_shivaji_maharaj_quotes/"><i class="uil uil-arrow-up-right" style="color: red;"></i> Chhatrapati Shivaji Maharaj Collection </a>
                        </li>
                        

                        

                      
                        <!-- <li>
                            <a style="text-transform: uppercase; font-weight:400; font-size:15px" href="/A_P_J_Abdul_kalam_tshirts/"><i class="uil uil-arrow-up-right" style="color: red;"></i> A. P. J. Abdul Kalam Collection </a>
                        </li> -->

                        
                        
                        

                        <!-- <li>
                          <a style="text-transform: uppercase; font-weight:400; font-size:15px" href="/Sri_Guru_Nanak_Dev_ji/"><i class="uil uil-arrow-up-right" style="color: red;"></i> Guru Nanak Dev Ji Collection </a>
                      </li>

                      

                            <li>
                              <a style="text-transform: uppercase; font-weight:400; font-size:15px" href="/Osho_quotes/"><i class="uil uil-arrow-up-right" style="color: red;"></i> Osho Collection </a>
                          </li>

                          

                          <li>
                            <a style="text-transform: uppercase; font-weight:400; font-size:15px" href="/Savitribai_Phule/"><i class="uil uil-arrow-up-right" style="color: red;"></i> Savitribai Phule Collection </a>
                        </li>

                        

                        <li>
                          <a style="text-transform: uppercase; font-weight:400; font-size:15px" href="/Birsa_munda/"><i class="uil uil-arrow-up-right" style="color: red;"></i> Birsa Munda Collection </a>
                      </li> -->

                      

                      

                    



                    <!-- <li>
                      <a style="text-transform: uppercase; font-weight:400; font-size:15px" href="/Sant_Kabir_Saheb/"><i class="uil uil-arrow-up-right" style="color: red;"></i> Sant Kabir Collection </a>
                  </li>

                  


                  <li>
                    <a style="text-transform: uppercase; font-weight:400; font-size:15px" href="/Martin_Luther_King/"><i class="uil uil-arrow-up-right" style="color: red;"></i> Martin Luther King Jr. Collection </a>
                </li> -->

               

                        
                    </ul>
                    </li>


                    <li class="mega-menu dropdown ratio_40">
                      <a
                        href="/customize_plane_tshirt/"
                        class=""
                      >
                        <div class="gradient-title">CUSTOMIZATION</div>
                      </a>

                    </li>

                    <li class="mega-menu dropdown ratio_40">
                      <a
                        href="#blogs"
                      >
                      <div class="gradient-title">BLOGS </div>
                      </a>

                    </li>
                  
                  </ul>
                </div>
              </div>
            </nav>
            <div class="menu-right">
            <ul>
              <li>
                <div class="search-box">
                  <i data-feather="search"></i>
                </div>
              </li>
                  <!-- Display login and register links -->
                <li class="onhover-dropdown">
                    <div class="cart-media">
                        <i data-feather="user"></i>
                    </div>
                    <div class="onhover-div profile-dropdown">
                        <ul>
                            <li>
                                <a href="/customer_login/" class="d-block">Login</a>
                            </li>
                           <!--  <li>
                                <a href="/customer_register/" class="d-block">Register</a>
                            </li> -->
                        </ul>
                    </div>
                </li>
         
             
                <!-- Display login links for wishlist and cart if user is not authenticated -->
                <li class="onhover-dropdown wislist-dropdown">
                    <div class="cart-media">
                        <a href="/customer_login/">
                            <i data-feather="heart"></i>
                        </a>
                    </div>
                    <div class="onhover-div">
                        <a href="/customer_login/">
                            <div class="wislist-empty">
                                <i class="fab fa-gratipay"></i>
                                <h6 class="mb-1">Your wishlist is empty !!</h6>
                                <p class="font-light mb-0">Explore more and shortlist items.</p>
                            </div>
                        </a>
                    </div>
                </li>
                <li class="onhover-dropdown cart-btn-show">
                  <a href="/customer_login/">
                  <button
                    type="button"
                    
                  >
                  <i class="bi bi-bag-fill"></i>
                    
                  </button>
                  </a>

                </li>
            </ul>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- header end -->
