<footer class="footer-sm-space">
      <div class="main-footer">
        <div class="container-fluid">
          <div class="row gy-4">
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="footer-contact">
                <div class="brand-logo vr-logo">
                  <a href="/" class="footer-logo">
                    <!-- <svg class="svg-icon">
                      <use
                        class="fill-color"
                        xlink:href="/static/assets1/svg/icons.svg#logo"
                      ></use>
                    </svg> -->
                    <img
                      src="/static/assets1/images/logos/vr logo.png"
                      class="img-fluid blur-up lazyload"
                      alt="logo"
                    />
                  </a>
                </div>
                <ul class="contact-lists">
                  <li>
                    <span>
                      <b>phone:</b>
                      <span class="font-light">+91 9511761157</span>
                    </span>
                  </li>
                  <li>
                    <span>
                      <b>Address:</b>
                      <span class="font-light">
                        Plot No. 16, IT Park Rd, Gayatri Nagar, Main Road, Opposite Checkers, Nagpur, Maharashtra 440022</span
                      >
                    </span>
                  </li>
                  <li>
                    <span>
                      <b>Email:</b>
                      <span class="font-light">myvishwaratna@gmail.com</span>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
              <div class="footer-links">
                <div class="footer-title">
                  <h3>ABOUT US</h3>
                </div>
                <div class="footer-content">
                  <ul>
                    <!-- <li>
                      <a href="/seller_registeration/" class="font-dark">SELLER REGISTRATION</a>
                    </li>
                    <li>
                      <a href="/seller_login/" class="font-dark">SELLER LOGIN</a>
                    </li> -->
                    <li>
                      <a href="/contact_us/" class="font-dark"
                        >CONTACT US</a
                      >
                    </li>
                    <li>
                      <a href="/terms_&_condition/" class="font-dark">TERMS & CONDITIONS</a>
                    </li>
                    <li>
                      <a href="/privacy_policy/" class="font-dark">PRIVACY POLICY</a>
                    </li>
                    <li>
                      <a href="/refund_&_return/" class="font-dark">REFUND & RETURN</a>
                    </li>
                    <li>
                      <a href="/about_vr/" class="font-dark">ABOUT VR</a>
                    </li>
                    <!-- <li>
                      <a href="#" class="font-dark">BLOGS</a>
                    </li> -->
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
              <div class="footer-links">
                <div class="footer-title">
                  <h3>CATEGORIES</h3>
                </div>
                <div class="footer-content">
                  <ul>

                    <li>
                      <a class="font-dark"  href="/tshirt/">T-SHIRTS</a>
                  </li>

                    <li>
                      <a class="font-dark" style="margin-left: 5px;" href="/quote_tshirts/"> QUOTE T-SHIRTS</a>
                  </li>

                  <li>
                    <a class="font-dark" style="margin-left: 5px;"  href="/Signature_tshirts/"> SIGNATURE T-SHIRTS</a>
                </li>
                  <li>
                      <a class="font-dark" style="margin-left: 5px;"  href="/graphictees/"> GRAPHIC T-SHIRTS</a>
                  </li>


                  <li>
                    <a class="font-dark" style="margin-left: 5px;"  href="/minimalisttees/"> MINIMATISTIC T-SHIRTS</a>
                </li>
                <li>
                  <a class="font-dark" style="margin-left: 5px;"  href="/inspirationaltees/"> INSPIRATIONAL T-SHIRTS</a>
              </li>
                    <!-- <li>
                      <a style="text-transform: uppercase;" href="/tshirt/" class="font-dark"
                        >T-shirts</a
                      >
                    </li>

                    <li>
                      <a style="text-transform: uppercase;" href="/shirts/" class="font-dark"
                        >Shirts</a
                      >
                    </li>
                    <li>
                      <a style="text-transform: uppercase;" href="/kurtas/" class="font-dark"
                        >Kurtas</a
                      >
                      
                    </li>


                    <li>
                      <a style="text-transform: uppercase;" href="/sweatshirts/" class="font-dark"
                        >sweatshirts</a
                      >
                      
                    </li>

                    <li>
                      <a style="text-transform: uppercase;" href="/hoodies/" class="font-dark"
                        >hoodies</a
                      >
                      
                    </li> -->

                    <!-- <li>
                      <a style="text-transform: uppercase;" href="shop-left-sidebar.html" class="font-dark"
                        >Paintings</a
                      >
                    </li>


                    <li>
                      <a style="text-transform: uppercase;" href="shop-left-sidebar.html" class="font-dark"
                        >Books</a
                      >
                    </li> -->

                    <li>
                      <a style="text-transform: uppercase;" href="/customize_plane_tshirt/" class="font-dark"
                        >Customization</a
                      >
                    </li>



                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
              <div class="footer-links">
                <div class="footer-title">
                  <h3>HELP</h3>
                </div>
                <div class="footer-content">
                  <ul>
                    <li>
                      <a href="/orders/" class="font-dark"
                        >YOUR ORDERS</a
                      >
                    </li>
                    <li>
                      <a href="/" class="font-dark"
                        >ACCOUNT</a
                      >
                    </li>
                    <li>
                      <a href="/" class="font-dark"
                        >TRACK ORDERS</a
                      >
                    </li>
                    <li>
                      <a href="/view_wishlist/" class="font-dark"
                        >WISHLIST</a
                      >
                    </li>
                    <li>
                      <a href="/display_faqs/" class="font-dark">SHOPING FAQs</a>
                    </li>
                    <li>
                      <a href="/add_queries/" class="font-dark">NEED HELP?</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-sm-6 d-none d-sm-block">
              <div class="footer-newsletter">
                <h3>Got Question? Connect with Us 24/7</h3>
                <h4><i class="uil uil-phone " style="padding-right: 10px;"></i>+91 9511761157</h4>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sub-footer">
        <div class="container">
          
            <!-- <div class="col-md-6">
              <ul>
                <li class="font-dark">We accept:</li>
                <li>
                  <a href="javascript:void(0)">
                    <img
                      src="/static/assets1/images/payment-icon/1.jpg"
                      class="img-fluid blur-up lazyload"
                      alt="payment icon"
                  /></a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <img
                      src="/static/assets1/images/payment-icon/2.jpg"
                      class="img-fluid blur-up lazyload"
                      alt="payment icon"
                  /></a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <img
                      src="/static/assets1/images/payment-icon/3.jpg"
                      class="img-fluid blur-up lazyload"
                      alt="payment icon"
                  /></a>
                </li>
                <li>
                  <a href="javascript:void(0)">
                    <img
                      src="/static/assets1/images/payment-icon/4.jpg"
                      class="img-fluid blur-up lazyload"
                      alt="payment icon"
                  /></a>
                </li>
              </ul>
            </div> -->
            <div class="col-md-12" >
              <p class="mb-0 font-dark text-center">
                © 2024, VishwaRatna. Made & Designed by Zappkode
              </p>
            </div>
          
        </div>
      </div>
    </footer>