<!-- header start -->
<header class="header-style-2" id="home">
  <div class="main-header navbar-searchbar">
    <div class="container-fluid-lg">
      <div class="row">
        <div class="col-lg-12">
          <div class="main-menu">
            <div class="menu-left">
              <div class="brand-logo  vr-logo">
                    <a href="/customer_after_login/">
                  <img
                    src="/static/assets1/images/logos/vr_logo.png"
                    class="img-fluid blur-up lazyload"
                    alt="logo"
                  />
                </a>
            </div>
              
            </div>
            <nav>
              <div class="main-navbar" >
                <div id="mainnav">
                  <div class="toggle-nav">
                    <i class="fa fa-bars sidebar-bar"></i>
                  </div>
                  <ul class="nav-menu">
                    <li class="back-btn d-xl-none">
                      <div class="close-btn">
                        Menu
                        <span class="mobile-back"
                          ><i class="fa fa-angle-left"></i>
                        </span>
                      </div>
                    </li>

                    <!-- <li class="dropdown  ">
                      <a
                        class=" "
                        ><div  class="gradient-title "><a href="/tshirt/">SHOP T-SHIRTS</a></div></a
                      >
                      <ul class="nav-submenu menu-content">
                        <li>
                            <a style="text-transform: uppercase;" href="/quote_tshirts/">QUOTE T-SHIRTS</a>
                        </li>

                        <li>
                          <a style="text-transform: uppercase;" href="/Signature_tshirts/">SIGNATURE T-SHIRTS</a>
                      </li>
                        <li>
                            <a style="text-transform: uppercase;" href="/graphictees/">GRAPHIC T-SHIRTS</a>
                        </li>


                        <li>
                          <a style="text-transform: uppercase;" href="/minimalisttees/">MINIMATISTIC T-SHIRTS</a>
                      </li>
                      <li>
                        <a style="text-transform: uppercase;" href="/inspirationaltees/">INSPIRATIONAL T-SHIRTS</a>
                    </li>
                        
                    </ul>
                    </li> -->

                    <li class="dropdown  ">


                      <a
                      href="javascript:void(0)"
                      class="nav-link menu-title"
                      ><div class="gradient-title">CLOTHING</div></a
                    >
                      <ul class="nav-submenu menu-content">
                        <li>
                          <a style="text-transform: uppercase; font-size:20px" href="/tshirt/"><i class="uil uil-arrow-up-right" style="color: red;"></i> SHOP T-SHIRTS</a>
                      </li>

                        <li>
                          <a style="text-transform: uppercase; margin-left:10px;" href="/graphictees/"><i class="uil uil-arrow-up-right" style="color: red;"></i> GRAPHIC T-SHIRTS</a>
                      </li>
                      <li>
                      <a style="text-transform: uppercase; margin-left:10px;" href="/inspirationaltees/"><i class="uil uil-arrow-up-right" style="color: red;"></i> INSPIRATIONAL T-SHIRTS</a>
                      </li>
                       <li>
                            <a style="text-transform: uppercase; margin-left:10px;" href="/minimalisttees/"><i class="uil uil-arrow-up-right" style="color: red;"></i> MINIMATISTIC T-SHIRTS</a>
                        </li>
                        <li>
                          <a style="text-transform: uppercase; margin-left:10px" href="/quote_tshirts/"><i class="uil uil-arrow-up-right" style="color: red;"></i> QUOTE T-SHIRTS</a>
                      </li>
                    
                        
                      <li>
                        <a style="text-transform: uppercase; margin-left:10px;" href="/Signature_tshirts/"><i class="uil uil-arrow-up-right" style="color: red;"></i> SIGNATURE T-SHIRTS</a>
                    </li>
                     

                        
                    </ul>
                    </li>

                    <li class="dropdown  ">


                      <a
                      href="javascript:void(0)"
                      class="nav-link menu-title"
                      ><div class="gradient-title">SHOP BY</div></a>
                      <ul class="nav-submenu menu-content">
                        <li>
                            <a style="text-transform: uppercase;" href="{% url 'tshirt_male' %}?gender=male"><i class="uil uil-arrow-up-right" style="color: red;"></i> MEN</a>
                        </li>

                        <li>
                          <a style="text-transform: uppercase;" href="{% url 'tshirt_female' %}?gender=female"><i class="uil uil-arrow-up-right" style="color: red;"></i> WOMEN</a>
                      </li>

                        
                    </ul>
                    </li>
                    <!-- <li class="dropdown ">
                      <a
                        href="javascript:void(0)"
                        class="nav-link menu-title"
                        ><div class="gradient-title">CLOTHINGS</div></a
                      >
                      <ul class="nav-submenu menu-content">
                        <li>
                            <a style="text-transform: uppercase;" href="/tshirt/">T-shirts</a>
                        </li>

                        <li>
                          <a style="text-transform: uppercase;" href="/shirts/">Shirts</a>
                      </li>
                        <li>
                            <a style="text-transform: uppercase;" href="/kurtas/">Kurtas</a>
                        </li>


                        <li>
                          <a style="text-transform: uppercase;" href="/hoodies/">Hoodies</a>
                      </li>
                        
                    </ul>
                    </li> -->

                                            <li class="dropdown ">
                      <a 
                        href="javascript:void(0)"
                        class="nav-link menu-title"
                        ><div class="gradient-title">COLLECTIONS</div></a
                      >
                      <ul class="nav-submenu menu-content " >

                        <li>
                            <a style="text-transform: uppercase; font-weight:400; font-size:15px" href="/Bhagat_Singh/"><i class="uil uil-arrow-up-right" style="color: red;"></i> Bhagat Singh Collection </a>
                        </li>
                        <li>
                          <a style="text-transform: uppercase; font-weight:400; font-size:15px" href="/BR_ambedkar_quotes/"><i class="uil uil-arrow-up-right" style="color: red;"></i> Bhimrao Ramji Ambedkar Collection </a>
                      </li>

                      <li>
                        <a style="text-transform: uppercase; font-weight:400; font-size:15px" href="/Budha_quotes/"><i class="uil uil-arrow-up-right" style="color: red;"></i> Buddha Collection </a>
                    </li>

                        <li >
                            <a style="text-transform: uppercase; font-weight:400; font-size:15px; width:100%" href="/Chrapati_shivaji_maharaj_quotes/"><i class="uil uil-arrow-up-right" style="color: red;"></i> Chhatrapati Shivaji Maharaj Collection </a>
                        </li>
                        

                        

                      
                        <!-- <li>
                            <a style="text-transform: uppercase; font-weight:400; font-size:15px" href="/A_P_J_Abdul_kalam_tshirts/"><i class="uil uil-arrow-up-right" style="color: red;"></i> A. P. J. Abdul Kalam Collection </a>
                        </li> -->

                        
                        
                        

                        <!-- <li>
                          <a style="text-transform: uppercase; font-weight:400; font-size:15px" href="/Sri_Guru_Nanak_Dev_ji/"><i class="uil uil-arrow-up-right" style="color: red;"></i> Guru Nanak Dev Ji Collection </a>
                      </li>

                      

                            <li>
                              <a style="text-transform: uppercase; font-weight:400; font-size:15px" href="/Osho_quotes/"><i class="uil uil-arrow-up-right" style="color: red;"></i> Osho Collection </a>
                          </li>

                          

                          <li>
                            <a style="text-transform: uppercase; font-weight:400; font-size:15px" href="/Savitribai_Phule/"><i class="uil uil-arrow-up-right" style="color: red;"></i> Savitribai Phule Collection </a>
                        </li>

                        

                        <li>
                          <a style="text-transform: uppercase; font-weight:400; font-size:15px" href="/Birsa_munda/"><i class="uil uil-arrow-up-right" style="color: red;"></i> Birsa Munda Collection </a>
                      </li> -->

                      

                      

                    



                    <!-- <li>
                      <a style="text-transform: uppercase; font-weight:400; font-size:15px" href="/Sant_Kabir_Saheb/"><i class="uil uil-arrow-up-right" style="color: red;"></i> Sant Kabir Collection </a>
                  </li>

                  


                  <li>
                    <a style="text-transform: uppercase; font-weight:400; font-size:15px" href="/Martin_Luther_King/"><i class="uil uil-arrow-up-right" style="color: red;"></i> Martin Luther King Jr. Collection </a>
                </li> -->

               

                        
                    </ul>
                    </li>


                    <li class="mega-menu dropdown ratio_40">
                      <a
                        href="/customize_plane_tshirt/"
                        class=""
                      >
                        <div class="gradient-title">CUSTOMIZATION</div>
                      </a>

                    </li>

                    <li class="mega-menu dropdown ratio_40">
                      <a
                        href="#blogs"
                      >
                      <div class="gradient-title">BLOGS </div>
                      </a>

                    </li>
                  
                  </ul>
                </div>
              </div>
            </nav>
            <div class="menu-right">
            <ul>
               <li>
                <form method="GET" action="{% url 'search' %}">
                <div class="search-box" name="search" placeholder="Search...">
                    <i data-feather="search"></i>
                </div>
              </form>
            </li>  
              &nbsp;&nbsp;&nbsp;{{ user.first_name }} {{ user.last_name }}&nbsp;&nbsp;
              {% if request.user.is_authenticated %}
                  <!-- Display user profile dropdown -->
                  <li class="onhover-dropdown">
                      <div class="cart-media">
                          {% if request.user.image %}
                              <img class="user-profile rounded-circle" src="{{ request.user.image.url }}" alt="" style="width: 55px;">
                          {% else %}
                              <i data-feather="user"></i>
                          {% endif %}
                      </div>
                      <div class="onhover-div profile-dropdown" style="width: 200px">
                          <ul>
                              <li>
                                  <a href="/customer_profile/" class="d-block">Profile</a>
                              </li>
                              <li>
                                  <a href="/orders/" class="d-block">Orders</a>
                              </li>
                              <li>
                                  <a href="/change_password/" class="d-block">Change Password</a>
                              </li>
                              <li>
                                  <a href="/customer_logout/" class="d-block">Logout</a>
                              </li>
                          </ul>
                      </div>
                  </li>
             {% endif %}
                <!-- Display wishlist dropdown if user is authenticated -->
                <li class="onhover-dropdown wislist-dropdown">
                    <div class="cart-media">
                        <a href="/view_wishlist/">
                            <i data-feather="heart"></i>
                            {% if count %}
                                <span class="label label-theme rounded-pill">{{ count }}</span>
                            {% endif %}
                        </a>
                    </div>
                    <div class="onhover-div">
                        {% if total_items_count == 0 %}
                            <a href="">
                                <div class="wislist-empty">
                                    <i class="fab fa-gratipay"></i>
                                    <h6 class="mb-1">Your wishlist is empty !!</h6>
                                    <p class="font-light mb-0">Explore more and shortlist items.</p>
                                </div>
                            </a>
                        {% endif %}
                    </div>
                </li>
                <!-- Display cart dropdown if user is authenticated -->
                <li class="onhover-dropdown cart-btn-show">
                  <a href="/view_cart/">
                    <!-- {% if cart_count %}
                        <span class="label label-theme rounded-pill">{{ cart_count }}</span>
                    {% endif %} -->
                  <button type="button">
                  <i class="uil uil-shopping-bag"></i>
                    
                  </button>
                  </a>

                </li>

            </ul>
          </div>
           
           
          <div class="search-full">
            <div class="input-group">
                <span class="input-group-text">
                    <i data-feather="search" class="font-light"></i>
                </span>
                <input type="text" class="form-control search-type" id="searchInput" placeholder="Search here..">
                <span class="input-group-text close-search">
                    <i data-feather="x" class="font-light"></i>
                </span>
            </div>
            <div class="search-suggestion" style="max-height:250px; ">
               
                      <div class="media-body" style="display: flex; flex-direction:column">
                        {% comment %} {% for  %} {% endcomment %}
                          <a href="/tshirt/">Tshirt
                          </a>
                           
                          <a href="/Chrapati_shivaji_maharaj_quotes/">Ch. Shivaji Maharaj</a>
                                                       
                           <a href="/BR_ambedkar_quotes/">
                           Dr.Babasaheb Ambedkar
                           </a>    
                                                         
                           <a href="/Bhagat_Singh">
                             Veer Bhagat Singh
                           </a>    
                                                         
                           <a href="/A_P_J_Abdul_kalam_tshirts/">
                             Dr.A.P.J Abdul Kalam
                           </a>    
                                                       
                           <a href="/Sri_Guru_Nanak_Dev_ji/">
                             Gurunanak 
                           </a>  
                                 
                          <!-- Add other suggestions here -->
      
                          <a href="/Osho_quotes/">
                            Osho
                          </a>
                           
                          <a href="/Savitribai_Phule/">
                            Savitribai Phule
                          </a>
                          
                          <a href="/Birsa_munda/">
                            Birsa Munda
                          </a>
                         
                          <a href="/Budha_quotes/">
                            Gautam Buddha
                          </a>
                         
                          <a href="/Sant_Kabir_Saheb/">
                            Saint Kabir Saheb
                          </a>
                          
                          <a href="/Martin_Luther_King/">
                            Martin Luther
                          </a>
                         
                          <a href="/tshirt_male/">
                            Mens Tshirt
                          </a>
                          
                          <a href="/tshirt_female/">
                            Women Tshirt
                          </a>
                        
                          <a href="/quote_tshirts/">
                            Quotes Tshirt
                          </a>
                            
                          <a href="/Signature_tshirts/">
                           Signature Tshirt
                          </a>
                           
                          <a href="/graphictees/">
                            Graphic Tshirt
                          </a>
                         
                          <a href="/minimalisttees/">
                            Minimistic Tshirt
                          </a>
                          
                          <a href="/inspirationaltees/">
                            Inspirational Tshirt
                          </a>
                         
                    </div>
                    </div>
                      </li>
                    </ul>
                </div>
          
                    

                  </li>
                </ul>
            </div>
        </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- header end -->


                  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
                    <script>
                      // Function to filter suggestion list based on typed text
                      function filterSuggestions() {
                          var input, filter, ul, li, a, i, txtValue;
                          input = document.getElementById('searchInput');
                          filter = input.value.toLowerCase();
                          ul = document.querySelector('.search-suggestion ul');
                          li = document.getElementsByTagName('a');

                          // Loop through all list items, and hide those who don't match the search query
                          for (i = 0; i < li.length; i++) {
                              a = li[i];
                              txtValue = a.textContent || a.innerText;
                              if (txtValue.toLowerCase().indexOf(filter) > -1) {
                                  li[i].style.display = '';
                              } else {
                                  li[i].style.display = 'none';
                              }
                          }
                      }

                      // Attach event listener to input field for filtering suggestions
                      document.getElementById('searchInput').addEventListener('input', filterSuggestions);
                    </script>
